*{
    margin:0;
    padding:0;
    background: black;
    font-family: system-ui;
}
header{
    background: black;
    color: white;
    text-align: center;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease 1000ms;
}
.logo:hover {
    transform: scale(1.1);
}
nav li {
    display: flex;
    gap: 3.5rem;
    word-spacing: 3rem;  
}
nav a {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: ease 1000ms;
    text-align: center;
    position: relative;
    right: -900px;
    word-spacing: 10rem;
}
nav a:hover,
nav .active {
    color: red;
}
nav .active {
    position: relative;
    left: 860px;
}
nav .nactive {
    position: relative;
    left: 880px;
}
.container{
    width:60%;
    margin:auto;
    padding:20px;
    position: absolute;
    top: -15px;
    right: 170px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.movie-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.movie-card{
    background:#222;
    border-radius:10px;
    overflow:hidden;
    text-align:center;
    padding-bottom:15px;
}

.movie-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.movie-card h3{
    margin:10px;
}

.movie-card p{
    color:#ccc;
}
.main{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom:30px;
    color: white;
}
.content{
    max-width:1400px;
    margin:0 auto;
    padding:20px;
}

.movie-gallery{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
    justify-items:center;
    margin-top:100px;
    margin-bottom:50px;
}

.movie{
    text-align:center;
}

.movie h3{
    margin-bottom:10px;
}

.movie img{
    width:300px;
    height:450px;
    object-fit:cover;
    border-radius:10px;
    transition:0.3s ease;
}

.movie img:hover{
    transform:scale(1.05);
}
.content h1{
    position: absolute;
    top: 220px;
    margin-bottom: 90px;
    margin:30px 0 15px;
    font-size: 24px; 
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.content h2{
    margin-bottom: 90px;
    margin:30px 0 15px;
    font-size: 24px; 
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.content p{
    margin-bottom:-15px;
    line-height:1.7;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.main .welcome p{
    font-weight: bold;
    position:absolute;
    top: 125px;
}